@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Anton+SC&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Mountains+of+Christmas:wght@400;700&family=Permanent+Marker&family=Playwrite+VN:wght@100..400&family=Single+Day&display=swap');

*{
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    color: #333;
}

body{
    background-color: aliceblue;
}

.cont{
    width: 660px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header, footer{
    text-align: center;
}

section{
    border: 2px solid #fff;
    margin-top: 16px;
    border-radius: 10px;
    padding: 16px;
}

.card{
    width: 280px;
    height: 250px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition: 1s ease 0s;
    box-shadow: -2px 12px 42px 0px rgba(0, 144, 255, 0.2);
}

.card:hover{
    box-shadow: -2px 12px 42px 0px rgba(0,144,255,0.51);
}

.card span{
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    font-family: ;
}

.hearts{
    font-size: 100px;
    color: aqua;
    animation: anheart 1s infinite;
}

@keyframes anheart{
    0% {
        transform: scale(0.8);
    }
    15% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(0.8);
    }
    35% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.8);
    }
}