@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Anton+SC&family=Dosis:wght@200..800&family=Mountains+of+Christmas:wght@400;700&family=Permanent+Marker&family=Playwrite+VN:wght@100..400&display=swap");
body{
    font-family:"Mountains";
    background-color: #c5ccbf;
}
.container {
    width: 1090px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 19px;
    background-color: #ffffff;
    display: flex;
    font-family:"Permanent Marker";
    font-size: 50px;
    text-right: right;
    border: 8px solid #9b9f97;


   
  }

  .divp{
    text-right: right;
    color: #232621;
  }
  
  .a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .a:hover { 
    color: rgb(255, 255, 255);
    background-color: rgb(181, 193, 178);
    transition: 0.3s; 
    border-radius: 20px; 

}

.container1 {
  width: auto;
  margin: 40px;;
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  border-radius: 40px;
  border: 8px solid  #9b9f97;
  background-color: #f2f2f2;
  font-family:"Dosis" ;
  font-size: 40px;
  text-align: right ;
  

 
}

.container2 {
  width: auto;
  margin: 40px;;
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  border-radius: 80px;
  border: 8px solid  #9b9f97;
}
.logo{
  border-radius: 80%;
}
.a2{
  color: #ffffff;
}

.txt{
  text-align: right;
 
}


  .container9 {
    width: 1090px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 19px;
    background-color: #ffffff;
    display: flex;
    font-family:"Permanent Marker";
    font-size: 10px;
    text-align: center;
    border: 8px solid #9b9f97;


   
  }
.br{
  color: #8cc467;
}
.a0{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 200px;
}
.a0:hover { 
  color: rgb(255, 255, 255);
  background-color: rgb(181, 193, 178);
  transition: 0.3s; 
  border-radius: 100px; 

}
.a0{
  border: 15px solid #9b9f97;
  margin: 70px;
border-radius: 100px;
}